# ignore everything until told otherwise
*

# allow the root folder of the project
!/

# allow the lib paths
!/lib/

# allow the files
!.gitignore
!README.md
!main.py
!lib/input_manager.py
!lib/window_manager.py

# allow sphinx configuration py to be gitted
!docs/
!docs/conf.py
!docs/gen_documentation.sh
!docs/index.rst
!docs/make.bat
!docs/Makefile
