# ignore everything until told otherwise
*

# allow the root folder of the project
!/

# allow the lib paths
!/lib/
!/lib/input_handling/
!/lib/window_manager/

# allow the files
!.gitignore
!README.md
!main.py
!lib/input_handling/__init__.py
!lib/input_handling/input_character_handler.py
!lib/window_manager/__init__.py
!lib/window_manager/main_draw_loop.py

# allow sphinx configuration py to be gitted
!conf.py
!gen_documentation.sh
!index.rst
!make.bat
!Makefile
!source
!source/main.rst
